<div class="main-top-bar cf">
    <h1 class="title">{{title}}</h1>
</div>
<div class="selection cf">
    <select class="type" v-model="type">
        <option value="0">全部</option>
        <option value="1">人找车</option>
        <option value="2">车找人</option>
    </select>
    <input type="text" class="oa-textfield" v-model="phone" placeholder="手机号" />
    <button class="btn-search oa-btn oa-btn-theme" v-on:click="pageContent">搜索</button>
</div>

<div class="user-table table-with-selection need-scroll-vertical">
    <table>
        <thead>
            <tr>
                <td style="width: 60px;">类型</td>
                <td>用户名</td>
				<td>电话</td>
                <td style="width: 120px;">出发地</td>
                <td style="width: 120px;">目的地</td>
                <td style="width: 200px;">途径</td>
                <td style="width: 130px;">出发时间</td>
                <td>空位/人数(车型)</td>
                <td style="width: 200px;">备注</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in list.data">
                <td><span v-if="item.type == 1">人找车</span><span v-if="item.type == 2">车找人</span></td>
                <td><span class="name">{{item.name}}</span></td>
				<td><span class="name">{{item.phone}}</span></td>
                <td>{{item.from_place}}</td>
                <td>{{item.to_place}}</td>
                <td>{{item.mid_place}}</td>
                <td>{{item.start_time | time}}</td>
                <td>{{item.user_count}}&nbsp;{{item.car}}</td>
                <td>{{item.note}}</td>
                <td>
                    <button style="color: red;" v-on:click="delContent(item.id)">删除</button>&nbsp;&nbsp;
                    <button style="color: green;" v-on:click="topContent(item.id)">置顶</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="admin-pager">
        <a href="javascript:void(0)" class="item" v-bind:class="{disabled: list.current_page <= 1}"
           v-on:click="page(1)">首页</a>
        <a href="javascript:void(0)" class="item" v-bind:class="{disabled: list.current_page <= 1}"
           v-on:click="page(list.current_page - 1)">上一页</a>
        <a href="javascript:void(0)" class="item current">{{list.current_page}} / {{page_count}}</a>
        <a href="javascript:void(0)" class="item" v-bind:class="{disabled: list.current_page >= page_count}"
           v-on:click="page(list.current_page + 1)">下一页</a>
        <a href="javascript:void(0)" class="item" v-bind:class="{disabled: list.current_page >= page_count}"
           v-on:click="page(page_count)">尾页</a>
    </div>
</div>
