<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<title>发布找车</title>
<script>
(function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            if( clientWidth > 600 ){
            	docEl.style.fontSize = 12 + 'px';
            }else{
            	docEl.style.fontSize = 10 * (clientWidth / 320) + 'px';
            }
        };
    // Abort if browser does not support addEventListener
    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);
</script>
<link rel="stylesheet" rev="stylesheet" type="text/css" href="../static/css/mobile.css" />
</head>
<body ontouchstart>
  <div id="seekMode" v-cloak>
    <form class="public-form">
      <h2 class="public-form-title">确认联系人信息</h2>
      <!-- <a href="./edit-profile.html" class="form-cell form-cell_access">
        <span class="username">{{postCarpoolInfo.name}}</span>
        <span class="tel">{{postCarpoolInfo.phone ? postCarpoolInfo.phone : "手机号（必填）"}}</span>
      </a> -->
      <div class="form-cells">
        <div class="form-cell form-cell_input">
          <label for="" class="title">姓名</label>
          <input type="text" class="form-input" placeholder="请填写姓名" v-model="postCarpoolInfo.name">
        </div>
        <div class="form-cell form-cell_select">
          <label for="" class="title">性别</label>
          <select name="" id="" class="form-select selected" v-model="postCarpoolInfo.sex">
            <option value="1">男</option>
            <option value="2">女</option>
            <option value="0">保密</option>
          </select>
        </div>
        <div class="form-cell form-cell_input">
          <label for="" class="title">手机号码</label>
          <input type="text" class="form-input" placeholder="请填写手机号" v-model="postCarpoolInfo.phone">
        </div>
      </div>
      <h2 class="public-form-title">填写拼车信息</h2>
      <div class="form-cells">
        <div class="form-cell">
          <label for="" class="title">出发地</label>
          <input type="text" class="form-input" placeholder="请填写出发地" v-model.trim="postCarpoolInfo.from_place">
        </div>
        <div class="form-cell">
          <label for="" class="title">目的地</label>
          <input type="text" class="form-input" placeholder="请填写目的地" v-model.trim="postCarpoolInfo.to_place">
        </div>
        <div class="form-cell form-cell_select">
          <label for="" class="title">出发时间</label>
          <input type="datetime-local" class="form-input" placeholder="请选择出发时间" v-model.trim="postCarpoolInfo.start_time">
        </div>
        <div class="form-cell form-cell_select">
          <label for="" class="title">乘车人数</label>
          <select name="" class="form-select" v-model="postCarpoolInfo.user_count">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="4">5</option>
            <option value="4">6</option>
            <option value="4">7</option>
          </select>
        </div>
      </div>
      <h2 class="public-form-title">备注留言</h2>
      <textarea name="" id="" placeholder="以上信息还不够？此处可填写备注哦～" class="form-textarea" v-model.trim="postCarpoolInfo.note"></textarea>
      <p :class="['must-read', { 'true' : isRead }]" @click="toggleRead()"><i class="iconfont">&#xe63b;</i>已阅读并同意<a href="./notice-content.html?time=20170109001" class="announcement">《拼车平台免责声明》</a></p>
      <span class="public-btn" @click="postData(1)">立即发布</span>
    </form>
    <p class="pubilc-notice" v-if="post_cost >= 0">仅需支付<span class="special">{{post_cost}}元</span>即可发布一条拼车信息<i class="iconfont" @click="closeNotice">&#xe83f;</i></p>
  </div>
    <script src="../static/js/vue.js?20170109001"></script>
    <script src="../static/js/jquery.js?20170109001"></script>
    <script src="../static/js/underscore.js?20170109001"></script>
    <script src="../static/js/layer.js?20170109001"></script>
    <script src="../static/js/magjs-1.1.js?time=20170109001"></script>
    <script src="../static/js/magpayjs-1.0.js?time=20170102001"></script>
    <script src="../static/lib/page/seekMode.js?time=20170102001"></script>
</body>
</html>
