<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<title>置顶信息</title>
<script>
(function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            if( clientWidth > 600 ){
            	docEl.style.fontSize = 12 + 'px';
            }else{
            	docEl.style.fontSize = 10 * (clientWidth / 320) + 'px';
            }
        };
    // Abort if browser does not support addEventListener
    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);
</script>
<link rel="stylesheet" rev="stylesheet" type="text/css" href="../static/css/mobile.css" />
</head>
<body ontouchstart>
  <div id="stickInfo" @click="showSelectInfo">
    <form action="" class="public-form stick-info">
      <h2 class="public-form-title">置顶选项{{stick_time}}</h2>
      <div class="form-cells">
        <div class="form-cell stick-info-cell">
          <span class="duration">1小时</span>
          <span class="price"><span class="value">{{stick_price}}元</span><i class="iconfont">&#xe63b;</i></span>
          <input type="radio" class="form-radio" value="1" v-model="stick_time" name="stick_time">
        </div>
        <div class="form-cell stick-info-cell">
          <span class="duration">3小时</span>
          <span class="price"><span class="value">{{stick_price * 3}}元</span><i class="iconfont">&#xe63b;</i></span>
          <input type="radio" class="form-radio" value="3" v-model="stick_time" name="stick_time">
        </div>
        <div class="form-cell stick-info-cell selected">
          <span class="duration">6小时</span>
          <span class="price"><span class="value">{{stick_price * 6}}元</span><i class="iconfont">&#xe63b;</i></span>
          <input type="radio" class="form-radio" value="6" v-model="stick_time" name="stick_time">
        </div>
        <div class="form-cell stick-info-cell">
          <span class="duration">12小时</span>
          <span class="price"><span class="value">{{stick_price * 12}}元</span><i class="iconfont">&#xe63b;</i></span>
          <input type="radio" class="form-radio" value="12" v-model="stick_time" name="stick_time">
        </div>
      </div>
      <span class="public-btn" @click="submitStick">确定</span>
      <p class="desc">置顶后能更快速的成功拼车哦～</p>
    </form>
  </div>
  <script src="../static/js/vue.js"></script>
  <script src="../static/js/jquery.js"></script>
  <script src="../static/js/layer.js"></script>
  <script src="../static/js/magjs-1.1.js?time=20170109001"></script>
  <script src="../static/js/magpayjs-1.0.js"></script>
  <script src="../static/js/stick.js"></script>
</body>
</html>
