.public-seek-body{ background-color: #fff; }
.public-seek-list{ position: relative;
	.header{ position: relative; font-size: 0;
		.tag{ display: inline-block; height: 20px; margin-right: 4px; padding: 0 2px; line-height: 20px; font-size: 14px; color: #fff; }
		.specialtag{ box-sizing: border-box; display: block; width: 20px; height: 20px; line-height: 20px; border-width: 1px; border-style: solid; position: absolute; right: 0; top: 0; text-align: center; font-size: 14px;}
		.specialtag.today{ border-color: #F63D10; color: #F63D10; }
		.specialtag.tomorrow{ border-color: #FF831B; color: #FF831B; }
		.stick{ background-color: #F63D10; }
		.seek-car{ background-color: #00BFB1; }
		.seek-person{ background-color: #894CFC; }
		.car-info{ background-color: #EFF1EF; color: #333; }
		.expired{ float: right; background-color: #F6A623; }
	}
	.carpool-info{ margin: 10px 0 6px; line-height: 22px; font-size: 16px; color: #111;
		.iconfont{ line-height: 22px; font-size: 12px; }
	}
	.time{ color: #666; font-size: 14px;
		.date{ margin-right: 4px; }
		.recent{ color: #FF0000; }
	}
	.car-type{ margin: 5px 0; line-height: 20px; color: #666; font-size: 14px; }
	.notice{ line-height: 20px; padding-right: 80px; color: #666; font-size: 14px; }
	.post-info{ margin-top: 5px; line-height: 15px; color: #999; font-size: 12px; 
		.iconfont{ display: inline-block; width: 12px; height: 12px; margin-right: 2px; border-radius: 4px; line-height: 12px; text-align: center; font-size: 10px; color: #fff;}
		.female{ background-color: #F994AB; }
		.male{ background-color: #97BCF0; }
		.date{ vertical-align: text-top; margin-left: 4px; }
	}
	.btn-dail{ display: block; width: 70px; height: 30px; line-height: 30px; position: absolute; right: 0; bottom: 16px; background-color: #25B93D; border-radius: 6px; text-align: center; color: #fff; font-size: 14px;}
	&:after{ content: ''; position: absolute; left: 0; right: 0; bottom: 0; border-bottom: 1px solid #d9d9d9; transform: scaleY(0.5); transform-origin: 0 0;}
}

// 发布按钮
.public-seek-btn{ display: inline-block; width: 44%; height: 40px; line-height: 40px; border-radius: 4px; font-size: 16px; color: #fff; text-align: center;}
.public-seek-btn.car{ background-color: #00BFB2; }
.public-seek-btn.person{ background-color: #894CFC; }

.default-value{ margin-top: 52px; font-size: 12px; color: #C9C9C9; text-align: center;
	.default-img{ display: block; width: 92px; height: 74px; margin: 0 auto; }
	.post-btns{ margin-top: 24px; font-size: 0;
		.public-seek-btn{ margin: 0 5px; }
	}
}

// 表单
.public-form{ padding-bottom: 42px; }
.public-form-title{ padding: 8px 0 8px; line-height: 20px; text-indent: 13px; font-weight: 100; font-size: 14px; color: #888; }
.form-cells{ position: relative; background-color: #fff; 
	.form-cell{ padding-top: 10px; padding-bottom: 10px; 
		&:before{ content: " "; position: absolute; left: 0; top: 0; right: 0; height: 1px; border-top: 1px solid #D9D9D9; color: #D9D9D9; transform-origin: 0 0; transform: scaleY(0.5); left: 15px; }
		&:first-child:before{ display: none; }
	}
	&:before{ content: " "; position: absolute; left: 0; top: 0; right: 0; border-top: 1px solid #D9D9D9; color: #D9D9D9; transform-origin: 0 0; transform: scaleY(0.5);}
	&:after{ content: " "; position: absolute; left: 0; bottom: 0; right: 0; border-bottom: 1px solid #D9D9D9; color: #D9D9D9; transform-origin: 0 0; transform: scaleY(0.5);}
}
.form-cell{ display: flex; line-height: 24px; position: relative; padding-left: 15px;
	.title{ width: 90px; font-size: 17px; color: #000; }
	.form-input{ flex: 1; font-size: 17px; color: #000; 
		&::-webkit-input-placeholder{ color: #dedbdb; }
	}
	.form-select{ flex: 1; font-size: 17px; color: #000;}
	// .form-select.selected{  }
}
.form-cell_access{ display: block; padding-top: 8px; padding-bottom: 8px; background-color: #fff; color: #B2B2B2; font-size: 17px;
	.username{ display: block; line-height: 24px; font-size: 17px; color: #000; }
	.tel{ line-height: 18px; font-size: 13px; color: #888; }
	&:after{ content: " "; display: inline-block; height: 6px; width: 6px; border-width: 2px 2px 0 0; border-color: #C8C8CD; border-style: solid; transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0); position: relative; top: -2px; position: absolute; top: 50%; right: 15px; margin-top: -4px; }
}
.form-cell_select{
	&:after{ content: " "; display: inline-block; height: 6px; width: 6px; border-width: 2px 2px 0 0; border-color: #C8C8CD; border-style: solid; transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0); position: relative; top: -2px; position: absolute; top: 50%; right: 15px; margin-top: -4px; }
}
.form-textarea{ box-sizing: border-box; width: 100%; height: 75px; padding: 10px 15px; resize: none; background-color: #fff; font-size: 17px; color: #000;
	&::-webkit-input-placeholder{ color: #dedbdb; }
}
.must-read{ margin: 20px 0; text-align: center; font-size: 13px; color: #9B9B9B; 
	.iconfont{ display: inline-block; position: relative; width: 12px; height: 12px; line-height: 12px; margin-right: 5px; background-color: #fff; border-radius: 2px; color: transparent; font-size: 10px; text-align: center;
		&:after{ content: ''; display: block; width: 200%; height: 200%; position: absolute; left: 0; top: 0; border: 1px solid #D0D0D0; transform: scale(0.5); transform-origin: 0 0;}
	}
	.announcement{ color: #576B95; }
}
.must-read.true{
	.iconfont{ color: #25B93D; }
}
.public-btn{ display: block; height: 48px; line-height: 48px; margin: 0 10px; background-color: #26B83E; box-shadow: inset 0 0 1px 0 rgba(5, 5, 5, 0.5); border-radius: 6px; text-align: center; font-size: 18px; color: #fff;}
.pubilc-notice{ position: fixed; top: 0; left: 0; right: 0; padding: 0 0 0 18px; height: 30px; line-height: 30px; background-color: #FFE5AE; animation: noticeFadeIn 1s; font-size: 12px; color: #5C4A24;
	.special{ color: #E64340; }
	.iconfont{ display: inline-block; width: 30px; height: 30px; text-align: left; float: right; }
}

@keyframes noticeFadeIn{
	from{
		top: -100%;
	}

	to{
		top: 0;
	}
}

// 刷新按钮
.refresh-btn{ width: 48px; height: 48px; position: fixed; right: 16px; bottom: 5rem;}