.home-header{ background-color: #fff;
  .banner{ width: 100%; height: 8rem; background-image: url(../imgs/banner.png); background-size: cover; background-position: center;}
}

.home-declaration{ box-sizing: border-box; position: relative; width: 100%; padding-left: 60px; line-height: 32px;
  .icon-declaration{ width: 50px; height: 25px; position: absolute; left: 4px; top: 4px;  }
  .title{ position: relative; display: block; overflow: hidden; white-space: nowrap; padding-left: 4px; color: #333; font-size: 12px; 
    &:before{ content: ''; position: absolute; left: 0; top: 6px; bottom: 6px; border-left: 1px solid #d9d9d9; transform: scaleX(0.5); transform-origin: 0 0;}
  }
}

.home-publish{ box-sizing: border-box; position: relative; height: 60px; margin: 6px 0; padding: 10px 0 10px 50px; background-color: #fff; overflow: hidden; font-size: 0;
  .published{ width: 50px; height: 40px; position: absolute; left: 0; top: 10px; text-align: center; font-size: 0;
    .iconfont{ display: block; line-height: 25px; color: #C2C2C2; font-size: 20px; }
    .desc{ line-height: 15px; color: #999; font-size: 10px; }
    &:after{ content: ''; position: absolute; top: 0; bottom: 0; right: 0; border-right: 1px solid #d9d9d9; transform: scaleX(0.5); transform-origin: 0 0;}
  }
  .public-seek-btn{ margin-left: 4%;}
  .public-seek-btn.car{ background-color: #00BFB2; }
  .public-seek-btn.person{ background-color: #894CFC; }
}

.home-tabs{ font-size: 0;
  .tab{ display: inline-block; position: relative; width: 25%; height: 36px; line-height: 36px; text-align: center; font-size: 14px; color: #6B6B6B; 
    &:after{ content: ''; position: absolute; bottom: 0; left: 10px; right: 10px; border-bottom: 2px solid transparent; transition: borderBottomColor 0.3s;}
    .filter-link{ font-size: 14px; color: #6B6B6B;
      .iconfont{ margin-right: 4px; font-size: 14px; }
    }
  }
  .current{ color: #26B83E;
    &:after{ border-bottom-color: #26B83E; }
  }
}

.home-seek-lists{ box-sizing: border-box; padding: 17px 10px 8px;
  .public-seek-list{ position: relative; margin-bottom: 16px; padding-bottom: 16px; 
    &:last-child{ margin-bottom: 0; }
  }
}
